.about {
    height: 970px;
    padding-top: calc(40px + 30 * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 50px;

    @media (max-width: 1100px) {
        padding-top: calc(10px + 60 * ((100vw - 320px) / (1200 - 320)));
    	margin-bottom: calc(500px + 800 * ((100vw - 320px) / (1200 - 320)));
    }

    @media (max-width: 992px) {
        margin-bottom: calc(300px + 700 * ((100vw - 320px) / (1200 - 320)));
    }

    @media (max-width: 767px) {
        padding-top: 0;
    }

    .container {
        @include container;

        .about__inner {
            display: flex;
            -webkit-justify-content: space-between;
	                justify-content: space-between;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;

            .about_left {
                margin-right: 40px;
                -webkit-flex: 0 1 60%;
                    -ms-flex: 0 1 60%;
                        flex: 0 1 60%;
                display: flex;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-justify-content: center;
                        justify-content: center;
                -webkit-align-items: flex-start;
                        align-items: flex-start;
                transition: all .8s ease 0s;
                transform: translateX(-120%);
                opacity: 0;

                &._active {
                    transform: translateX(0px);
                    opacity: 1;
                }

                .title {
                    text-transform: capitalize;
                    @include adaptiv-font(20, 16, 500, #d5d5d5);
                    @include adaptiv-value('margin-bottom', 25, 15, 1);
                }

                .subtitle {
                    word-spacing: 5px;
                    line-height: 36px;
                    @include adaptiv-font(30, 20, 500, #000);
                    @include adaptiv-value('margin-bottom', 30, 20, 1);
                }

                .desc {
                    @include adaptiv-font(22, 18, 400, #5b5b5b);
                    @include adaptiv-value('margin-bottom', 30, 20, 1);
                }

                .btn-info {
                    display: flex;
                    -webkit-justify-content: center;
                            justify-content: center;

                    a {
                        padding: 10px 75px;
                        border: 2px solid #000;
                        text-transform: uppercase;
                        font-size: 22px;
                        font-weight: 400;
                        color: #2b2b2b;

                        @media (max-width: 525px) {
                            padding: 5px 55px;
                        }
                    }
                }

                @media (max-width: 1100px) {
                    -webkit-flex: 1 1 100%;
                        -ms-flex: 1 1 100%;
                            flex: 1 1 100%;
                    -webkit-align-items: center;
                            align-items: center;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    margin-right: 0;
                    text-align: center;
                }
            }

            .about_right {
                -webkit-flex: 0 1 35%;
                -ms-flex: 0 1 35%;
                    flex: 0 1 35%;
                height: 100%;
                transition: all .8s ease 0s;
                transform: translateX(120%);
                opacity: 0;

                &._active {
                    transform: translateX(0px);
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                @media (max-width: 1100px) {
                    -webkit-flex: 1 1 100%;
                        -ms-flex: 1 1 100%;
                            flex: 1 1 100%;
                    -webkit-order: -1;
                        -ms-order: -1;
                             order: -1;
                    height: 70%;
                }

                @media (max-width: 767px) {
                    height: 100%;
                }
            }
        }
    }
}